@import url(normalize.css);
			/* Base styles */
			body{
				background: #95a5a6;
				min-width: 480px;
				color: #333;
			}
			#container {
				width: 90%;
				margin: 0 auto;
			}
			/* Header */
			header {
				background: #1abc9c;
				padding-top: 1em;
			}
			header h1 {
				display: inline-block;
			}
			header nav {
				overflow: hidden;
			}
			header nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;	
				float: left;
				position: relative;
				/*I used the right 50% to center the nav - is this wrong? */
				left: 50%;
				right: 50%;
			}
			header nav ul li {
				float: left;
				position: relative;	
				right: 50%;
				margin-left: 0.25em;
				background:#bdc3c7;
			}
			header nav a {
				display: block;
				padding: 1em;
				color: #fff;
				text-decoration: none;
			}
			header nav a:hover {
				background: rgba(255, 255, 255, 0.7);
				color: #000;
			}
			
			/* STEP 1: Persistent navigation styles (add the class "floater" to the NAV element to preview) */
			header nav.floater {
				position: fixed;
				top: 0;
				width: 90%;
				background-color: black;
				background-color: rgba(22, 160, 133, 0.8);
				
			}
			header nav.floater ul li {
				background-color: transparent;
			}
			
			/* Content */
			div#content {
				background: white;
				clear: both;
				line-height: 1.4;
				padding: 1em 0;
			}
			div#content p {
				margin-top: 0;
			}
			/* Header typography */
			header h1 {
				font-family: "Arial Black", Arial, sans-serif;
				font-size: 400%;
				margin: 0.5em;
				text-shadow: 3px 3px 0 #333;
				letter-spacing: -0.1em;
				text-align: center;
			}
			header h1 a {
				color: white;
				text-decoration: none;
			}
			
			/* STEP 4 - pullquote styles */
			/* Pullquotes */
			.pullquote2 {
				display: block;
				float: right;
				padding: 0 0 0 20px;
				margin: 0 0 10px 10px;
				width: 35%;
				font-size: 1.5em;
				line-height: 1.4em;
				text-align: right;
				color: #666;
				border-left: 3px solid #1abc9c;
				/*background-color:*/
			}
			/* STEP 5 - leading quotation marks */
			.pullquote2:before {
				display: block;
				content: "\201C";
				font-size: 80px;
				float: left;
				position: relative;
				top: 0.2em;
				color: #1abc9c;
			}

			footer {
				/* base styles */
				background: #666;
				padding: 1em;
			}
			footer h3 {
				/* base styles */
				margin: 0;
				font-family: "Arial Black", Arial, sans-serif;
				font-size: 200%;
				margin: 0.5em;
				color: white;
				text-shadow: 3px 3px 0 #333;
				letter-spacing: -0.05em;
				text-align: center;
			}
			footer p {
				font-size: 50%;
				text-align: center;
			}
			footer a {
				color: black;
			}
			/* STEP 6b - sticky footer button styles */
			footer p a.top {
				position: fixed;
				bottom: 2%;
				right: 2%;
				background-color: black;
				background-color: rgba(22, 160, 133, 0.8);
				padding: 10px;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				/* Hide button by default */
				display: none;
			}